{% extends 'training/base.html' %}

{% block content %}

  <table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
<li><a href="{% url 'view_personal' %}">Your personal trainings</a></li>
<li><a href="{% url 'personal_group' %}">Your group trainings</a></li>
<li><a href="{% url 'abonements' %}">Your abonements</a></li>
	</ul>
</td>
<td>
<h1 class="td_title tr_style">{{title}}</h1>
<form class="tr_style" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
</td>
</tr></table>
{% endblock %}


