{% extends 'training/base.html' %}
{% load examination_tags %}

{% block content %}
<h1>{{title}}</h1>
<ul>
    {% get_examination as info %}
    <li>
        <p>Client: {{entry.id_client}}<br>Date: {{entry.date_examination}}<br>Employ:{{entry.id_employ}}<br>
            Weight: {{entry.weight}}<br>IMT: {{entry.imt}}<br>Fat percentage: {{entry.fat_percentage}}<br>
            Pressure: {{entry.pressure}}<br>Recommendation: {{entry.recommendation}}<br>
            Result: {{entry.result_of_examination}}</p>
        <div class="clear"></div>
        <hr>
			</li>
    </li>
</ul>
{% endblock %}