{% extends 'training/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul>
    {% if not info %}
    <h2>No group trainings found</h2>
    {% else %}
    {% for entry in info %}
    <li>
        <p>Client: {{entry.id_client}}<br>Date: {{entry.date_examination}}<br>Employ:{{entry.id_employ}}<br>
            Weight: {{entry.weight}}<br>IMT: {{entry.imt}}<br>Fat percentage: {{entry.fat_percentage}}<br>
            Pressure: {{entry.pressure}}<br>Recommendation: {{entry.recommendation}}<br>
            Result: {{entry.result_of_examination}}</p>
        <div class="clear"></div>
        <hr>
			</li>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}