<div class="header">
<ul id="mainmenu" class="mainmenu">
<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for entry in menu %}
			<li><a href="{% url entry.url_name %}">{{entry.title}}</a></li>
{% endfor %}
		{% if request.user.is_authenticated %}
			<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
		{% else %}
			<li class="last"><a href="{% url 'register' %}">Sign up</a>|<a href="{% url 'login' %}">Sign in</a></li>
		{% endif %}
</ul>
</div>
